<div class=" text-center col-md-12">
<h2>Employee Details</h2> 

<hr/>
<div *ngIf="employee" class="col-md-12 text-left">
  <div>
    <label><b>First Name: </b></label> {{employee.name}}
  </div>
  <div>
    <label><b> email: </b></label> {{employee.email}}
  </div>
  <div>
    <label><b>Address: </b></label> {{employee.address}}
  </div> 
  
  <div>
    <label><b>phone: </b></label> {{employee.phone}}
  </div>

  <div>
    <label><b>salry: </b></label> {{employee.salary}}
  </div>
  <div>
    <label><b>designation: </b></label> {{employee.designation && employee.designation.name}}
  </div>
  <div>
    <label><b >certification: </b></label> <ol class="" ><li  *ngFor="let d of employee.certificates ">
       {{  employee.certificates && d["name"] }}  
      
    
    </ol>
  </div>

  
</div>

<br>
<br>
<button (click)="list()" class="btn btn-warning">Back</button><br>


</div>