<!-- Form to Grab new EMPLOYEE with Validations using Templete Validations -->

<h1 class="col-md-4 mx-auto text-center">Add Certification</h1>
<div class="row mx-5">
<div class="mx-auto col-md-6 text-center">
<form   #addcertification="ngForm" (submit)= "submit()" >
  
 
  <div class=" ">
    <label class="form-label font-weight-bold col-md-6 mx-auto">Certification  Name :  </label>
    <input type="text"  #name="ngModel" class="form-control col-md-6 mx-auto my-2" name="Name" [(ngModel)]= "cert.name">
    <span style="color:red" *ngIf="name.invalid && name.touched">Enter certification</span>
    
  </div>
  
  <button [disabled]="addcertification.invalid"  type="submit" class="btn btn-success col-md-6 mx-auto">Add</button><br>
  <button  class="btn btn-info col-md-6 mx-auto my-1 block" routerLink="/">Back</button>
</form>
  <br><br>
</div>

  <table class="container col-md-6 table table-hover">
    <thead style="text-align: center;">
      <tr>
        <th (click)= "sort('id')">#<i class="fa fa-fw fa-sort"></i></th>
        <th (click)= "sort('name')">certification Name<i class="fa fa-fw fa-sort"></i></th>
        <th>Action</th>
  
      </tr>
    </thead>
    <tbody style="text-align: center;"> 
      <!-- For loop for employee basic Information -->
      <tr *ngFor= "let certification of certifications | async  | orderBy:key:reverse   ">
        <td>{{certification.id}}</td>
        <td>{{certification.name}}</td>
        
  
   <!-- Action Buttons created for Viewing, updating and Deleting an Employee -->
  
        <td>
          <a  class="btn btn-danger text-white" (click)= "delete(certification.id)">Remove</a>
        </td>
      </tr>
    </tbody>
    
  </table>
</div>