<!-- Form to Grab new EMPLOYEE with Validations using Templete Validations -->
<button style="max-width:20%" class="btn btn-info" routerLink="/">Back</button>

<form style="margin-top: 0%; "  #adddesig="ngForm" (submit)= "submit()" >
  
  <div class="mb-3">
    <label class="form-label">Designation Name</label>
    <input type="text" required #name="ngModel" class="form-control" name="Name" [(ngModel)]= "desig.name">
    <span style="color:red" *ngIf="name.invalid && name.touched">Enter Desgination</span>
    
  </div>
  
    <button [disabled]="adddesig.invalid"  type="submit" class="btn btn-success">Add</button>
  </form>
  

  <table class="container">
    <thead style="text-align: center;">
      <tr>
        <th (click)= "sort('id')">#<i class="fa fa-fw fa-sort"></i></th>
        <th (click)= "sort('name')">Designation Name<i class="fa fa-fw fa-sort"></i></th>
        <th>Action</th>
  
      </tr>
    </thead>
    <tbody style="text-align: center;"> 
      <!-- For loop for employee basic Information -->
      <tr *ngFor= "let desig of desigList| async  | orderBy:key:reverse   ">
        <td>{{desig.id}}</td>
        <td>{{desig.name}}</td>
        
  
   <!-- Action Buttons created for Viewing, updating and Deleting an Employee -->
  
        <td>
          <a  class="btn btn-del" (click)= "delete(desig.id)">Remove</a>
        </td>
      </tr>
    </tbody>
    
  </table>