<div class="text-center"><h1>List Employees</h1></div>

<div *ngIf="responcedeleted"><h1>deleted</h1></div>

<i class='fa fa-search mx-3'></i><input class="form-control" type="text" name="searchterm" [(ngModel)]= "searchterm" class="col-md-4"  placeholder="Enter keyword  to Search">

<pagination-controls style="float:right;padding-right: 70px;" (pageChange) ="handlePageChange($event)"></pagination-controls>
<div class="form-group col-sm-2 mx-auto" >
    <label for="sel1">items to show :</label>
    <select (change)="onChange()" class="form-control" id="" [(ngModel)]="itemsPerPage">
      <option value="1" >1</option>
      <option value=2>2</option>
      <option value="3">3</option>
      <option selected value="4" >4</option>
    </select>
  </div>
<table  class="table table-bordered table-striped hover">
    <tr>
        <th (click)="sortData('id')" >Id <i class="fa fa-fw fa-sort"></i></th>
        <th (click)="sortData('name')" > Name<i class="fa fa-fw fa-sort"></i></th>
        <th>Phone</th>
        <th class="text-info">Action</th>
        <th class="text-danger">Action</th>
        <th class="text-success">Action</th>
    </tr>
    
    <tr *ngFor="let emp of employees  | orderBy:key:reverse | filter:searchterm| paginate:{itemsPerPage,currentPage,totalItems}  "> 
        <td>{{emp.id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.phone}}</td>
        <td><button type="button" class="btn btn-info " (click)=employeeDetails(emp.id) >Details</button></td>
        <td><button type="button" class="btn btn-danger" (click)=deleteEmployee(emp.id) >Delete</button></td>
        <td ><button type="button" class="btn btn-success" (click)="updateEmployee(emp.id)">Update</button></td>
    </tr>
</table>
<pagination-controls style="float:right;padding-right: 70px;" (pageChange) ="handlePageChange($event)"></pagination-controls>
